<form action="/products" method="post">
  <div>
    Product Name:<input type="text" name="name">
  </div>
  <div>
    Description:<input type="text" name="description">
  </div>
  <div>
    Price:<input type="number" step="0.01" name="price">
  </div>

  <div>
    Image:<input type="text" name="image_url">
  </div>
  <div>
    <label for="">Choose a supplier:</label>
    <select name="supplier_id" id="supplier-select">
      <option value="">--Please choose an option--</option>
      <% Supplier.all.each do |supplier| %>
        <option value="<%= supplier.id %>"><%= supplier.name %></option>
      <% end %>
    </select>
  </div>
  <div>
    In Stock:<input type="text" name="in_stock">
  </div>
  <input type="submit" value="Create Product">
</form>